<!doctype html5>
<html>

<head>
  <meta name="description" content="{{ .Params.desc | plainify }}">
  <meta property="og:title" content="{{.Title}}">
  <meta property="og:description" content="{{.Params.desc | plainify}}">
  <meta property="og:image" content="{{ .Site.BaseURL }}{{.Params.img}}">
  <meta property="og:url" content="{{.Permalink}}">
  {{ partial "head.html" . }}
</head>

  <body data-spy="scroll" data-target="#toc">
    {{ partial "header.html" . }}

    <div class="container" id="article-container">

      <header class="section-header" id="header-title">
        <h3 data-toc-skip>{{ .Title }}</h3>
      </header>

      <div class="row">

        <div class="col-md-3">
        </div>

        <div class="col-md-6">
        <div id="article">

          {{.Content}}

        </div>
        </div>

        <div class="col-md-3">
          <h4> Informações úteis </h4>

          <strong>Descrição</strong>: {{.Params.desc}}<hr>
          <strong>Material</strong>: <a href="{{.Params.material}}" target="_blank"><button class="cta-submit">Acessar</button></a><hr>

          {{ if isset .Params "espera"}}
          <strong>Lista de espera</strong>: <a href="{{.Params.espera}}" target="_blank"><button class="cta-submit">Link</button></a><hr>
          {{ end }}

          <strong>Investimento:</strong><br>
          {{ if isset .Params "valor1"}}
          <strong>Profissionais</strong>: {{.Params.valor1}}<br>
          {{ end }}
          {{ if isset .Params "valor2"}}
          <strong>Estudantes</strong>: {{.Params.valor2}}<br>
          {{ end }}
          {{ if isset .Params "valor2"}}
          <strong>Associados</strong>: {{.Params.valor3}}<hr>
          {{ end }}

        </div>

      </div>

    </div>

    {{ partial "footer.html" . }}

  </body>

  {{ partial "scripts.html" .}}
  {{ partial "toc.html" . }}

</html>
