<!doctype html5>
<html>
<head>
  <meta name="description" content="{{ .Params.summary | plainify }}">
  <meta property="og:title" content="{{.Title}}">
  <meta property="og:description" content="{{ .Params.summary | plainify}}">
  <meta property="og:image" content="{{ .Site.BaseURL }}{{.Params.banner}}">
  <meta property="og:url" content="{{.Permalink}}">
  {{ partial "head.html" . }}
</head>

  <body data-spy="scroll" data-target="#toc">

    {{ partial "header.html" . }}

    <div class="container" id="article-container" style="background-color:#ffffff99;">
      <header class="section-header" id="header-title">
        <h3 data-toc-skip>{{ .Title }}</h3>
      </header>

      <div class="tags">
        {{ range .Params.categories }}
          {{ if ne . "r" }}
             <a href="/tags/{{.}}">
             <button class="cta-submit" type="submit">{{ . | humanize}}</button>
            </a>
          {{ end }}
        {{ end }}
        {{ range .Params.tags }}
        <a href="/tags/{{.}}">
          <button class="cta-submit" type="submit">{{ . | humanize}}</button>
        </a>
        {{ end }}
      </div>

      <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-4">
          <div id="article">
            {{.Content}}
          </div>
        </div>

        <div class="col-sm-1"></div>
        <div class="col-sm-3"><br>

          <h4> Informações úteis </h4>
          <strong>Público</strong>: {{.Params.publico}}<hr>
          <strong>Formato</strong>: {{.Params.formato}}<hr>
          <strong>Data</strong>: {{dateFormat "02/01/2006" .Params.date}}<hr>
          <strong>Horário</strong>: {{.Params.horario}}<hr>
          {{if .Params.link}}
          <strong>Link</strong>: <a href="{{.Params.link}}" target="_blank"><button class="cta-submit">Acessar</button></a><hr>
          {{end}}
        </div>

    </div>



    </div>

    {{ partial "newsletter.html" . }}

    {{ partial "footer.html" . }}

  </body>

  {{ partial "scripts.html" .}}
  {{ partial "toc.html" . }}

</html>
