<!--==========================
  Team Section
============================-->
<section id="team2">
  <div class="container">

    <div class="section-header wow fadeInUp">
      <h3>Pesquisas</h3>
      <p>Nossas pesquisas são utilizadas para políticas públicas. Saiba mais na nossa <a href="/pesquisas">página de pesquisas</a>.</p>
    </div>


<div class="row about-cols">

{{ range $i, $member := first 3 (sort (where $.Site.RegularPages "Section" "pesquisas") "Params.ordem") }}



  <a href="{{.Permalink}}">
  <div class="col-md-4 wow fadeInUp">
    <div class="about-col">
      <div class="img">
        <img src="{{ .Site.BaseURL }}{{.Params.img}}" alt="" class="img-fluid">
      </div>
      <h2 class="title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
      <p>
        {{ if isset .Params "desc" }}{{ .Params.desc }}{{ else }}{{ .Summary }}{{ end }}
      </p>
    </div>
  </div>
</a>

{{ end }}

</div>
  </div>
</section><!-- #team -->
