<!--==========================
  Team Section
============================-->
<section id="team">
  <div class="container">

    <div class="section-header wow fadeInUp">
      <h3>Bem-vindo!</h3>
      <p>Aqui você encontra informações iniciais que você precisa saber para trabalhar com jurimetria.</p>
    </div>

{{ range $i, $member := sort (where $.Site.RegularPages "Section" "conteudo") "Params.ordem" }}

  {{ if modBool $i 3 }}
    <div class="row about-cols">
  {{ end }}

  <a href="{{.Permalink}}">
  <div class="col-md-4 wow fadeInUp">
    <div class="about-col">
      <div class="img">
        <img src="{{ .Site.BaseURL }}{{.Params.img}}" alt="" class="img-fluid">
      </div>
      <h2 class="title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
      <p>
        {{ if isset .Params "summary" }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}
      </p>
    </div>
  </div>
</a>

  {{ if (modBool (add $i 1) 3) }}
  </div>
  {{ end }}


{{ end }}


  </div>
</section><!-- #team -->
