<!--==========================
  Team Section
============================-->
<section id="team3">
  <div class="container">

    <div class="section-header wow fadeInUp">
      <h3>Eventos</h3>
      <p>Organizamos eventos para divulgar cases e pessoas que fazem pesquisa na área. Acesse a nossa <a href="/eventos">página de eventos</a>.</p>
    </div>


{{ range $i, $member := first 3 (sort (where $.Site.RegularPages "Section" "eventos") "Params.ordem") }}

  {{ if modBool $i 3 }}
    <div class="row about-cols">
  {{ end }}

  <a href="{{.Permalink}}">
  <div class="col-md-4 wow fadeInUp">
    <div class="about-col">
      <div class="img">
        <img src="{{ .Site.BaseURL }}{{.Params.banner}}" alt="" class="img-fluid">
      </div>
      <h2 class="title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
      <p class="author">
            Data: {{ dateFormat "02/01/2006" .Params.date }}
          </p>
      <p>
        {{ if isset .Params "summary" }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}
      </p>
    </div>
  </div>
</a>


  {{ if (modBool (add $i 1) 3) }}
  </div>
  {{ end }}


{{ end }}

  </div>
</section><!-- #team -->
