<!--==========================
  Team Section
============================-->
<section id="team">
  <div class="container">

    <div class="section-header wow fadeInUp">
      <h3>Eventos</h3>
      <p>Temos eventos para associados e abertos ao público. Acesse a nossa <a href="/blog">página de eventos</a>.</p>
    </div>


{{ range $i, $member := first 3 (sort (where $.Site.RegularPages "Section" "eventos") "Params.ordem") }}

  {{ if modBool $i 3 }}
    <div class="row about-cols">
  {{ end }}

  {{ partial "evento-item.html" .}}

  {{ if (modBool (add $i 1) 3) }}
  </div>
  {{ end }}


{{ end }}

  </div>
</section><!-- #team -->
