<nav class="navbar navbar-expand-md" id="thenav">

  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" class="d-inline-block align-top" style="width: 40px;" alt="">
    </a>

    <button class="navbar-toggler navbar-light" type="button" data-toggle="aff" data-target="#navcola" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navcola" class="collapse navbar-collapse" >
      <ul class="navbar-nav">
        <!--<li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="/sobre">Institucional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cases">Cases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eventos">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://lab.abj.org.br" target="_blank">Laboratório</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://forum.abj.org.br" target="_blank">Fórum</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="/contato">Contato</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="/associados", style="background-color:#7AD15133;">Associe-se</a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto sidenav">

        <!--
        <li class="nav-item">
          <a class="nav-link" href="{{ .Site.Params.github }}"><i id="social-media" class="fab fa-github"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ .Site.Params.facebook }}"><i id="social-media" class="fab fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ .Site.Params.twitter }}"><i id="social-media" class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ .Site.Params.instagram }}"><i id="social-media" class="fab fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ .Site.Params.linkedin }}"><i id="social-media" class="fab fa-linkedin"></i></a>
        </li>
        -->
        <li class="nav-item">
          <a class="nav-link" href="https://abjur.shinyapps.io/associados", style="background-color:#7AD15133;">Entrar</a>
        </li>
      </ul>
    </div>

  </div>


</nav>




