<nav class="navbar navbar-expand-md" id="thenav">

  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" class="d-inline-block align-top" style="width: 40px;" alt="">
    </a>

    <button class="navbar-toggler navbar-light" type="button" data-toggle="aff" data-target="#navcola" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navcola" class="collapse navbar-collapse" >
      <ul class="navbar-nav">
        <!--<li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>-->
        <li class="nav-item dropdown">
          <a class="nav-link" href="/sobre">Sobre
            <div class="dropdown-content">
              <a class="nav-link" href="/sobre/#associa-o-brasileira-de-jurimetria">Institucional</a>
              <a class="nav-link" href="/sobre/#prop-sito-e-valores">Propósito e Valores</a>
              <a class="nav-link" href="/sobre/#organograma">Organograma</a>
              <a class="nav-link" href="/sobre/#governan-a">Governança</a>
              <a class="nav-link" href="/sobre/#c-digo-de-conduta">Código de Conduta</a>
              <a class="nav-link" href="/faq">Dúvidas Frequentes</a>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pesquisas">Pesquisa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/observatorios">Observatórios</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/sobre">Ensino
            <div class="dropdown-content">
              <a class="nav-link" href="/cursos">Cursos</a>
              <a class="nav-link" href="/materiais">Materiais</a>
              <a class="nav-link" href="https://forum.abj.org.br/", target = "_blank">Fórum ABJ</a>
              <a class="nav-link" href="https://lab.abj.org.br/", target = "_blank">Blog Laboratório de Jurimetria</a>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dados">Dados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eventos">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/apoie", style="background-color:#7AD15133;">Apoie</a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto sidenav">
        <li class="nav-item">
          <a class="nav-link" href="https://abjur.shinyapps.io/associados", target="_blank", style="background-color:#7AD15133;">Área do associado</a>
        </li>
      </ul>
    </div>

  </div>


</nav>




