<section id="call-to-action2" class="wow fadeIn">
  <div class="container text-center">
    <br/>
    <h4 data-toc-skip>Associação Brasileira de Jurimetria</h4>
    <p style='font-size: 20px;'>Contribuimos para o aperfeiçoamento da sociedade brasileira levantando subsídios empíricos e dados para elaboração de políticas públicas.</p>

<h5>Nossas missões</h5>
<div class="row container">
  <div class="col-md-4 wow fadeInUp">
    <div class="about-col">
      <div class="img">
        <!-- <i class="fa-envelope"></i> -->
        <img src="/img/carrossel/library.png" alt="" class="img-fluid">
      </div>
      <h2 class="title"><a href="">Reunir e incentivar</a></h2>
      <p>
        pesquisadores com preocupação em investigar os processos de decisão em que são criadas as normas individuais e concretas
      </p>
    </div>
  </div>
  <div class="col-md-4 wow fadeInUp">
    <div class="about-col">
      <div class="img">
        <!-- <i class="fa-envelope"></i> -->
        <img src="/img/carrossel/library.png" alt="" class="img-fluid">
      </div>
      <h2 class="title"><a href="">Disciplinar a jurimetria</a></h2>
      <p>
        como um ramo do conhecimento jurídico, definindo suas premissas, fundamentos, conceitos e relações essenciais
      </p>
    </div>
  </div>
  <div class="col-md-4 wow fadeInUp">
    <div class="about-col">
      <div class="img">
        <!-- <i class="fa-envelope"></i> -->
        <img src="/img/carrossel/library.png" alt="" class="img-fluid">
      </div>
      <h2 class="title"><a href="">Colaborar</a></h2>
      <p>
        com o aperfeiçoamento dos mecanismos de prestação jurisdicional através da elaboração de leis e da administração dos tribunais
      </p>
    </div>
  </div>

</div>

    <a href="/sobre">
    <button class="cta-submit" >Saiba mais</button>
    </a>

    <br/><br/>
  </div>
</section><!-- #call-to-action -->
