<section id="call-to-action2" class="wow fadeIn">
  <div class="container text-center">
    <br/>
    <h4 data-toc-skip>Associação Brasileira de Jurimetria</h4>
    <p>Contribuimos para o aperfeiçoamento da sociedade brasileira levantando subsídios empíricos e dados para elaboração de políticas públicas.</p>

<h5>Nossas missões</h5>

<ul>
<li><b>Reunir e incentivar pesquisadores</b> com preocupação em investigar os processos de decisão em que são criadas as normas individuais e concretas;</li>
<li><b>Disciplinar a jurimetria</b> como um ramo do conhecimento jurídico, definindo suas premissas, fundamentos, conceitos e relações essenciais;</li>
<li><b>Colaborar com o aperfeiçoamento dos mecanismos de prestação jurisdicional</b> através da elaboração de leis e da administração dos tribunais.</li>
</ul>

    <a href="/sobre">
    <button class="cta-submit" >Saiba mais</button>
    </a>

    <br/><br/>
  </div>
</section><!-- #call-to-action -->
