<!-- custos -->
<div style="background: #f5f5f5;padding:10px;border-radius:20px;">
  <h2> Inscreva-se </h2>

    <p>Selecione o tipo de inscrição abaixo. Se fizer a inscrição como estudante, envie um comprovante para <a href="mailto:cursos@abj.org.br">cursos@abj.org.br</a>. Se você for uma pessoa associada, insira seu código de associação. Você pode encontrar seu código de associação fazendo login na plataforma <a href='https://app.glueup.com/account/login'>Glue Up</a>. Se tiver dúvidas ou dificuldades, <a href='http://localhost:4321/contato/'>entre em contato com a gente</a>. </p>
  <strong>Escolha:</strong><br>

  <div class="row">
    <div class="col-lg-6">
      <input type="radio" id="radio-profissional" name="Tipo" value="{{.Params.valor_profissional}}">
      <label for="profissional" class="vloption">Profissional ({{ .Params.valor_profissional}})</label><br>
      <input type="radio" id="radio-estudante" name="Tipo" value="{{.Params.valor_estudante}}">
      <label for="estudante" class="vloption">Estudante ({{ .Params.valor_estudante }})</label><br>
      <input type="radio" id="radio-assoc" name="Tipo" value="{{.Params.valor_assoc}}">
      <label for="assoc" class="vloption">Pessoa associada ({{ .Params.valor_assoc }})</label>

      <form class="desc-info">
        <div id='codigo-associado' class="desc">
          <input class="text-input form-control" name="associado" id="associado" type="text" placeholder="Código de associação" maxlength="16" style='margin-top:3px;max-width:200px;' required/>
        </div>
      </form>

    </div>
    <div class="col-lg-6">

      <!-- cupom -->
      <div class="row">
        <div class="col-7">
          <input class="text-input form-control" name="desconto" id="desconto" type="text" placeholder="Cupom de desconto" maxlength="16" style='margin-top:3px;'/>
        </div>
      <div class="col-5">
        <button  id="enviar-cupom" class="text-input-btn cta-submit" type="button" style='margin-top:0px;max-width:100%;'>Aplicar</button>
      </div>
      </div>
    </div>
  </div>

  <hr>


  <!-- inscricao -->

  <div style="text-align: center;">
    <strong>Valor final: </strong><label id='valor'></label><br>
    <button class="cta-submit3" id="pagamento">Inscreva-se</button>
  </div>

</div>

<script>

  function fmt(x) {
     return (x/100).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL', minimumFractionDigits: 0 });
  }

  // DADOS ------------------------------------
  var api_url = "https://pagarme-dr36r5u7sq-ue.a.run.app";
  var dados = {
    amount: {{.Params.valor_profissional}},
    buttonText: 'Pagar',
    buttonClass: 'btn-insc',
    customerData: 'true',
    createToken: 'true',
    paymentMethods: 'credit_card, boleto, pix',
    maxInstallments: 12,
    interestRate: 0.70,
    items: [{
      id: '{{ .Params.nome }}',
      title: {{ .Params.title }},
      unit_price: {{.Params.valor_profissional}},
      quantity: 1,
      tangible: true
    }],
    postbackUrl: api_url + '/postback' + "?associado=" + document.querySelector('#associado').value,
    capture: 'true',
    pixExpirationDate: new Date(new Date().getTime() + 30*60000).toISOString()
  }



  // ASSOCIADO ------------------------------------
  radio = document.querySelectorAll("input[name='Tipo']");
  labels = document.querySelectorAll("label[class='vloption']");
  var button = document.querySelector('#pagamento');
  button.disabled = true;
  document.querySelector("#codigo-associado").style.visibility = 'hidden';
  document.querySelector("#valor").innerText = fmt(dados.amount);

  // edita as labels dos elementos
  labels.forEach((elem) => {
    vl = fmt(document.querySelector("#radio-" + elem.htmlFor).value);
    if (elem.htmlFor == "profissional") {
      elem.innerText = "Profissional (" + vl + ")";
    } else if (elem.htmlFor == "estudante") {
      elem.innerText = "Estudante (" + vl + ")";
    } else if (elem.htmlFor == "assoc") {
      elem.innerText = "Pessoa associada (" + vl + ")";
    }
  })

  // adiciona condicao para criar caixa no caso de associados
  // tambem modifica o parametro de preco
  radio.forEach((elem) => {
    elem.addEventListener('click', function() {
      if (document.querySelector("#radio-assoc").checked) {
        document.querySelector("#codigo-associado").style.visibility = 'visible';
      } else {
        document.querySelector("#codigo-associado").style.visibility = 'hidden';
      }
      checked = document.querySelector('input[name=Tipo]:checked')
      dados.items[0].unit_price = checked.value;
      dados.amount = checked.value;
      dados.items[0].id = "{{ .Params.nome }}" + "-" + checked.id.substr(6);

      let label = (dados.amount/100).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL', minimumFractionDigits: 0 });
      document.querySelector("#valor").innerText = label;
      button.disabled = false;
    });
    elem.checked = false;
  })


  // DESCONTO
  var desconto = document.querySelector('#enviar-cupom');

  desconto.addEventListener('click', function() {
    var cupom  = document.querySelector('#desconto').value
    axios.get(api_url + '/cupom?id=' + dados.items[0].id + '&cupom=' + cupom).then(function (response) {

      // manter essa linha p/ mudar o preço do pagarme
      dados.amount = response.data.amount

      $('#pagamento').text("Inscreva-se com desconto");
      /* botao de enviar cupom */
      let botaoEnviarCupom = $('#enviar-cupom');
      botaoEnviarCupom.text("Aplicado!");
      botaoEnviarCupom.addClass('cupom-success');
      botaoEnviarCupom.removeClass('cupom-failure');

      /* texto do preco */
      let amount = (response.data.amount/100).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL', minimumFractionDigits: 0 });

      $("#valor").text(amount);

    }).catch(function (error) {

      /* botao de enviar cupom */
      let botaoEnviarCupom = $('#enviar-cupom');
      botaoEnviarCupom.text("Inválido");
      botaoEnviarCupom.removeClass('cupom-success');
      botaoEnviarCupom.addClass('cupom-failure');

      /* texto do preco */
      $("#valor span:first").removeClass("preco-antigo");
      $("#valor span:last").text("");
    })
  })



  // SUBMISSAO ------------------------------------
  // Abrir o modal ao clicar no botão

  button.addEventListener('click', function() {

    // inicia a instância do checkout
    var checkout = new PagarMeCheckout.Checkout({
      encryption_key: 'ek_live_4XNNqGOVvQiriePVlTFS1Ph1qUm4X3',
      success: function(data) {
        console.log(data);
        axios.get(api_url + '/captura?token=' + data.token + '&cupom=' + document.querySelector('#desconto').value)
          .then(function (response) {
            // handle success
            console.log(response);

            if (response.data.payment_method == "credit_card") {
              swal("Inscrição realizada!", "Em breve, você receberá um email confirmando sua inscrição.", "success");
            } else {
              swal("Inscrição realizada!", "Em breve, você receberá um e-mail com instruções de pagamento.", "success");
            };
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
      },
      error: function(err) {
      	console.log(err);
      },
      close: function() {
      	console.log('The modal has been closed.');
      }
    });

    checkout.open(dados);

  })


</script>
